%strong
  = comment.commenter
%p
  = comment.body
- if can? :destroy, comment
  = link_to 'Destroy Comment', [comment.article, comment], |
    method: :delete,                                       |
    data: { confirm: 'Are you sure?' }                     |
%hr/
