<p>
  <strong>Title:</strong>
  <%= @article.title %></ br>
</p>
 ---------------------------------------------------
<p>
    
  <strong>Text:</strong>
  <%= @article.text %>
  
</p>

<%= link_to 'My Blog', controller: 'articles' %>